<div class='follower-list-content'>
  <%= image_tag host.image, class: "follower-list-user-img" %>
  <%= link_to host.nickname, host_my_page_path(host.id) , class: "follower-list-guest-name" %>
</div>