<div class='follower-list-content'>
  <%= image_tag guest.image, class: "follower-list-user-img" %>
  <%= link_to guest.nickname, guest_my_page_path(guest.id) , class: "follower-list-guest-name" %>
</div>